# Virtual Environment
.venv/
venv/
.env
# IDE files
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store

# Environment variables
.env